version: "3.9"

services:
  # ============================
  # INFRA
  # ============================

  postgres:
    image: postgres:16-alpine
    container_name: postgres
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: app_db
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"

  # ============================
  # BACKEND
  # ============================

  api-gateway:
    build:
      context: .
      dockerfile: apps/api-gateway/Dockerfile
    container_name: api-gateway
    ports:
      - "3000:3000"
    environment:
      NODE_ENV: production
      RABBITMQ_URL: amqp://rabbitmq:5672
    depends_on:
      - rabbitmq

  auth-service:
    build:
      context: .
      dockerfile: apps/auth-service/Dockerfile
    container_name: auth-service
    environment:
      NODE_ENV: production
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/app_db
      RABBITMQ_URL: amqp://rabbitmq:5672
    depends_on:
      - postgres
      - rabbitmq

  tasks-service:
    build:
      context: .
      dockerfile: apps/tasks-service/Dockerfile
    container_name: tasks-service
    environment:
      NODE_ENV: production
      DATABASE_URL: postgres://postgres:postgres@postgres:5432/app_db
      RABBITMQ_URL: amqp://rabbitmq:5672
    depends_on:
      - postgres
      - rabbitmq

  notification-service:
    build:
      context: .
      dockerfile: apps/notification-service/Dockerfile
    container_name: notification-service
    environment:
      NODE_ENV: production
      RABBITMQ_URL: amqp://rabbitmq:5672
    depends_on:
      - rabbitmq

  # ============================
  # FRONTEND
  # ============================

  web:
    build:
      context: .
      dockerfile: apps/web/Dockerfile
    container_name: web
    ports:
      - "5173:5173"
    depends_on:
      - api-gateway

# ============================
# VOLUMES
# ============================

volumes:
  postgres_data:
